*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-width: 375px;
  scroll-behavior: smooth;
}

body {
  min-width: 375px;
}

button,
input {
  font: inherit;
}

button {
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
